[submodule "onedark.vim"]
	path = pack/bundle/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "lightline.vim"]
	path = pack/bundle/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "ale"]
	path = pack/bundle/opt/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim-gutentags"]
	path = pack/bundle/opt/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/bundle/start/lightline"]
	path = pack/bundle/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/bundle/opt/ale"]
	path = pack/bundle/opt/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/bundle/opt/vim-gutentags"]
	path = pack/bundle/opt/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/bundle/opt/onedark"]
	path = pack/bundle/opt/onedark
	url = https://github.com/joshdick/onedark.vim.git
[submodule "pack/bundle/opt/fugitive"]
	path = pack/bundle/opt/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/bundle/opt/gitgutter"]
	path = pack/bundle/opt/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/bundle/opt/fzf"]
	path = pack/bundle/opt/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/bundle/start/vim-surround"]
	path = .vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/bundle/start/vim-exchange"]
	path = .vim/pack/bundle/start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
