snippet mbd
@include media-breakpoint-down(${1:md}) {
  $0
}
endsnippet

snippet mbu
@include media-breakpoint-up(${1:lg}) {
  $0
}
endsnippet

snippet mbs
@include media-breakpoint-down(md) {
}
@include media-breakpoint-up(lg) {
}
endsnippet
